
body {
    
}

#showImage {
    height: 200px;
    width: 200px;
}

#addedIngList ul {
    list-style: none;
}

#addedIngList ul li {
    display: inline;
}

p {
    display: inline;
}

.addedIng {
    
}

.hidden {
    display: none;
}

#addIngredient {
    
}
#addAmount {
    
}
#addUnit {
    
}
.removeIng {
    
}
